* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}


body {
  background: url('/wallpaper.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#__next div{
  background: linear-gradient(rgb(0 0 0 / 20%), rgb(0 0 0 / 40%));
}
