.telephoto {
  width: 70%;
  height: calc(100vh - 100px);
  border: 1px solid white;
}

.wideangle {
  width: 20%;
  position: absolute;
  top: 0;
  border: 1px solid greenyellow;
  /* height: 40vh; */
}

.section {
  position: relative;
}
