
.icon-plus-squared:before { content: '\f0fe'; } /* '' */
.icon-bullseye:before { content: '\f140'; } /* '' */
.icon-minus-squared:before { content: '\f146'; } /* '' */
.icon-minus-squared-alt:before { content: '\f147'; } /* '' */
.icon-plus-squared-alt:before { content: '\f196'; } /* '' */
